{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            You begin your response. <br>
            The same speech that you have given to all the other students with worries. <br><br>
            
            "You do bring up a good point Mark." <br>
            "However, wouldn't you see this as a good thing?" <br><br>
            
            He has a confused look on his face. <br><br>
            
            "What good could come out of spying?" <br><br>
            
            "You said it yourself that it was recommending you coursework based on what you were interested in right?" <br>
            "Compared to previously where everyone was assigned the same, boring work, you now have a personalized curriculum
            and if this app does track things as you say it does, soon you'll be taking all your favorite classes." <br><br>
            
            "Well, when you put it that way..." <br><br>
            
            "Listen Marc, this app only exists to help you succeed and be happy." <br><br>
            
            "I guess you're right then Advisor {{lastName}}" <br><br>
             
            He gets up and leaves. His face appears to be satisfied. <br><br>
            
            <i> You on the otherhand, only feel unease.</i>
        </h2>

        
    </body>
{% endblock %}