{% extends "base.html" %}


{% block body %}
<body>
<h2>
    While speaking to the student, you spot to headmaster of the school strolling by. <br><br>

    "Wait right here." <br><br>

    You quickly step outside and walk up to the headmaster. <br><br>

    Excuse me headmaster, do you have a moment? <br><br>

    Ah, {{firstName}}, how is it going? Of course I do! Please walk with me. <br><br>


    You begin walking with him, towards what appears to be his office. 
    He appears to be in a good mood. <br><br>
    
    "So how are students doing today?" <br><br>
    
    "Not good, I have this student in my office right now that thinks that the app we have them download is stealing their data. This isn't true right?" <br><br>
    
    He pauses for a brief second. You can see that his demeanor has shifted. <br>
    You both arrive at his office. He opens the door and gestures you to step in. <br><br>

    As you walk through the door, he quickly scuttles in behind you and locks the doors. <br><br>
    
    "Alright, {{firstName}}." <br>
    I am about to tell you something completely confidential" <br><br>
    
    <i> You can feel your stomach sinking.</i>
    
    
    
    
    I am willing to give you a significant pay raise to keep this a secret.
</h2>

<form action = "page3" method="get">
    <button type="submit" class="btn btn-primary"> Support the system </button>
</form>

<br><br>

<form action = "page4" method="get">
    <button type="submit" class="btn btn-primary"> Reject the system </button>
</form>

<br><br>

</body>
{% endblock %}