{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            You look at Susan. You can tell by her body language that she is already expecting the worst. <br><br>
            Susan, I want to listen very carefully... <br>
            {{userResponse}}
            “Please, just tell me already.” <br><br>
            “According to the algorithm used in the app, there is a very high chance that you will not be passing the semester.” <br><br>
            “How high is very high?” <br><br>
            “Almost a hundred percent chance.” <br><br>
            You can tell what you have told her has shaken her up. She stares with a blank face. <br><br>
            “Listen Susan, this program is still in beta. We have only had it for 3 months now. I think if you work hard, you can still make enough progress to pass.” <br><br>
            “But aren’t robots super smart? If the robot said I was going to fail, it’s probably going to happen” <br><br>
            “It’s true that these algorithms are very advanced, but we have no idea where it’s getting that number from. For all we know it could be completely random.” <br><br>
            “Ok” <br><br>
            You can tell she isn't listening anymore. <br><br>
            -- <br><br><br>

            Two weeks have passed since your advisor meeting with Susan. <br>

            While sitting at your desk, you decide to look her up in the database, to see if she has hopefully made some improvements. <br>

            After typing in her name, you see that she has not logged into her app since two weeks ago. <br><br>

            You decide to phone the schools registration office. <br><br>

            “Hello, I am calling in to check in on a student named Susan…” <br>
            “It seems that she hasn’t logged into her account for two weeks now. Is this some sort of bug?” <br><br>

            “Oh Susan? She is taking the semester off now, she said something about “what's the point and i’m going to fail anyways.” I swear, kids are getting more nihilistic these days.” <br><br>

            “I see, thank you.” <br><br>

            You begin to wonder if you had made the right choice. <br>

        </h2>
        <br><br>
    
    </body>
{% endblock %}