{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            You disagree with what Larry says. <br>
            Although he and a few other students may fail, a majority of the students have improved enough to justify keeping the system. <br><br>
            
            <b>You decide to use fear to cloud his judgement.</b> <br>
            
            "Listen Larry, I don't think reporting this is a good idea." <br><br>
            
            "Why not?" <br><br>
            
            "All of the other students that have come to me have not had this issue." <br>
            "You're the first student to bring up race, and quite frankly, I don't see it." <br><br>
            
            Although the second statement was true, the first was most definitely not. <br><br>
            
            "You could get into a large amount of trouble for reporting something, especially if it turns out false." <br> <br>
            
            You can tell he is getting nervous. <br><br>
            
            "I think the best course of action for you would be to take your studies more seriously." <br>
            "If you were doing well before, I see no reason as to why you can't perform now. <br><br>
            
            "Yeah.. I guess you're right." <br><br>
            
            He exits the room. <br><br>
            
            You feel terrible for lying to him. <br>
            For treating him as a means to solve your problem. <br>
            
            -- <br><br><br>
            
            Two years later, you drive into work. <br>
            
            It's been only a couple of days since the last yearly report went out. <br><br>
            
            Although your school ranked in the top 5 private schools in terms of grades, the school ranked nearly bottom 5 in the least diversity in your school. <br><br>
            You think back to that meeting you had with Larry. <br><br>
            
            You feel that it was your fault that a majority of non white students failed that year. <br><br>
            The remainder that had barely passed either dropped out or decided to transfer schools. <br><br>
            
            It was likely because of this that the algorithm only became even more biased. <br><br>
            
            Rumons quickly sprung up that the school was purposefully biased and a majority of the school staff was harassed daily, whether it be by email or by phone. <br><br>
            
            <i>If only they knew the truth.</i> <br>
        </h2>

        
        
        <br><br>
    
    </body>
{% endblock %}