{% extends "base.html" %}


{% block body %}
<body>
<h2>
    While speaking to the student, you spot to headmaster of the school strolling by. <br><br>

    "Wait right here." <br><br>

    You quickly step outside and walk up to the headmaster. <br><br>

    Excuse me headmaster, do you have a moment? <br><br>

    Ah, {{firstName}}, how is it going? Of course I do! Please walk with me. <br><br>


    You begin walking with him, towards what appears to be his office. 
    He appears to be in a good mood. <br><br>
    
    "So how are students doing today?" <br><br>
    
    "Not good, I have this student in my office right now that thinks that the app we have them download is stealing their data. This isn't true right?" <br><br>
    
    He pauses for a brief second. You can see that his demeanor has shifted. <br>
    You both arrive at his office. He opens the door and gestures you to step in. <br><br>

    As you walk through the door, he quickly scuttles in behind you and locks the doors. <br><br>
    
    "Alright, {{firstName}}." <br>
    I am about to tell you something completely confidential" <br><br>
    
    <i> You can feel your stomach sinking.</i> <br><br>

    "As you may know, we are a private school and as a result, we do not receive any public funding." <br>
    "A few months ago, we had to pay for a private settlement that nearly bankrupted us." <br>
    "During this time, a company approached us with an offer to use their algorithm in our classrooms in exchange for funding." <br>
    "Even though I asked for details on how this algorithm worked, they would not reveal anything. Only that the algorithm would feed on anything it could get its hands on." <br>
    "However, it was either this or shutting down the school, so I knew what my choice would be." <br><br>

    <i> You give a look of disbelief.</i> <br>
    Like many of the apps you download onto your phone, you would not be suprised if the app had accessed information beyond just your profile information.<br><br>

    "I know that it may seem evil, but while this algorithm has been in place, grades have never improved more quickly." <br>
    "Even that student in your office, "Mark" I believe, has had his marks increase nearly 5 points during the three months this algorithm has been in place." <br><br>

    <i> He turns away to face the windows. </i> <br><br>

    "I am willing to cut you a significant check to keep this a secret." <br><br>

    There appears to be no certainty that the algorithm is stealing data, however, the headmaster does appear to be extremely nervous. <br><br>
</h2>

<form action = "page5" method="get">
    <button type="submit" class="btn btn-success"> Accept the bribe </button>
</form>

<br><br>

<form action = "page6" method="get">
    <button type="submit" class="btn btn-danger"> Reject the bribe </button>
</form>

<br><br>

</body>
{% endblock %}