{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            <i> You select <tt> Larry</tt>. </t></i><br>
            Slowly, a teenager around the age of 17 walks into the room. <br>
            You immediately notice his darker skin color and his unique facial features. <br><br>
            Back when you worked at a public school, something like this wouldn't stand out to you. <br>
            However, after moving to the private sector, you have noticed a lack of ethnical diversity at your school. <br>
            In the yearly report from last year, the school was nearly 90 percent white and caucasian. <br>
            However, this likely was not the school's fault, as the neighborhood was also not that diverse. <br><br>
            
            "Hello Larry, how are you doing today?" <br><br>
            
            "Hello Advisior {{lastName}}, i'm not doing too well." <br><br>
            
            You take a look at his listed concern. <br><br>
            
            "It seems here that you feel like our new app might be descriminatory?" <br><br>  
            
            "Yeah, I know that this may seem ridiculous, but i'll try to explain this the best I can." <br>
            "Before the school started using the app, I was one of the top performing students in the school." <br>
            "However, after the app has been implemented, I can't seem to make as much progress as my other classmates." <br>
            "I know for a fact that this isn't just me. Other students of the same race have been having this same issue." <br><br>
            
            He was right. The other students that he was referring to had also come to you with this exact same issue. <br><br>
            
            "Anyways, I was thinking about filing an anonymous report to the police detailing this." <br>
            "What do you think"? <br><br>
            
            Although a small minority may have to suffer, the majority of the students seem to love the app and many previously failing students are now performing very well.<br><br>
            
            The app has only been around for 3 months, there may be even further improvements in the future. <br><br>
            What do you decide to do?<br><br>
        </h2>

        <form action = "page11" method="get">
            <button type="submit" class="btn btn-primary"> Tell him to file the report</button>
        </form>
        
        <br><br>
        
        <form action = "page12" method="get">
            <button type="submit" class="btn btn-primary"> Tell him to not file the report</button>
        </form>
        
        <br><br>
    
    </body>
{% endblock %}