{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            "So just from a quick look, you are not performing at your age level." <br><br>

            A look of worry appears on her face. <br><br>

            "But trust me, as an advisor, I have seen students with much lower grades pass." <br><br>

            "Really? So I can still pass right?" <br><br>

            “Yes, but I want you to promise me that you will do your absolute best to pass."  <br>
            "This means studying harder and taking your classes much more seriously." <br>
            "You aren’t doing too well right now, but I’m certain you can still pass." <br>
            "Remember, good grade won’t come easily." <br><br>

            “Of course, of course!” <br><br>
            
            -- <br><br><br>

            It had been two months since you had that conversation with Susan. <br>
            On a whim, you decide to search her up in the database. <br><br>

            Upon hitting enter, you are shown a graph with steady progress. <br>
            It appears that Susan had taken your words to heart and had begun trying much harder in her studies. <br>

            Slowly, you move your mouse to the dreaded “Probability of Passing” button. <br><br>

            Upon clicking on it, you breathe a sigh of relief. <br>
            In bright green letters were the words - “95% chance of passing” <br><br>

            Upon further inspection, you begin to wonder what the algorithm was using to calculate its numbers. <br>
            How reliable and trustworthy could it be if it could have such dramatic shifts? <br>


        </h2>

        
        
        <br><br>
    
    </body>
{% endblock %}