{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            As an advisor, you have always chosen to serve the students above all else. <br><br>

            "I would rather see this school shut down before I sell out my own students." <br><br>
            
            You quickly leave the building and get into your car. <br>
            You pull out your cellphone and call the anonymous tip line for the local newspaper. <br><br><br>
            
            The next morning you wake up and turn on your TV to the local news. <br>
            In a bold box below the reporter were the words "School Sells Out Students"<br>
            You quickly raise the volume. <br><br>
            
            "... had required students to download an app to monitor their performance. <br>
            What they didn't know was that the app was also listening into their conversations, reading their personal emails and much more.
            We have also just found out that they were selling this data to other companies to build user profiles.
            According to the company plans, they were using this school as a trial program and if successful, were planning on migrating it to other schools.
            Fortunately through an anonymous tip we received, we were able to bring these plans to light ..." <br><br>
            
            You breath a sigh of relief. <br>
            
            Time to hit the job section of the newspapers. <br>
        </h2>

        
    </body>
{% endblock %}