{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            What Larry says does seem to make sense. <br>
            Even though it may benefit the majority, a small population shouldn't have to suffer for the success of the majority. <br><br>

            "Alright Larry, I agree with your point." <br>
            "However, I think I should be the one to file the report." <br>
            "I might be able to provide some more evidence if they ask for it." <br><br>
            
            "Ok, sounds good to me." <br>
            "Please get this done soon, my grades are dropping day by day." <br><br>
            
            <i> After work, while in your car, you phone an anonymous tip line. <br>
            "Hello, I would like to file a report on a school ...</i> <br><br>
            
            -- <br><br><br>
            
            The next morning you turn on your TV to the news channel. <br><br>
            
            "It turns out that the company responsible for the algorithm and app were intially not aware of this flaw." <br><br>
            "However after the first month of data came in, they immediately spotted the issue." <br><br>
            "Due of a lack of diversity in the initial training of the AI, it became inadvertently biased towards white Caucasians, giving them easier questions and weighing their scores more favorably." <br><br>
            "The company had hoped to keep this under wraps until they figured out a solution. However due to a helpful anonymous tip, the truth was revealed after a private investigation." <br><br>
            "The company has been fined severely and since the schools using this program were not reported of this flaw, they are only victims." <br><br>
            "This type of algorithmic bias has not been regulated by our government properly. If you have suspicions about bias in your systems, please report to.." <br><br>
            
            
            You turn off the television. <br>
            Hopefully things can go back to the way they were before. <br>

        </h2>

        
        
        <br><br>
    
    </body>
{% endblock %}