{% extends "base.html" %}


{% block body %}
    <body>
        <h2>
            You take a deep breath. <br><br>

            "Alright headmaster, I'll overlook this." <br>
            "Not for you, but for the students." <br><br>

            You can see his face ease up. <br><br>

            "Thank you so much {{ firstName }}, I knew you would see it my way." <br><br><br>

            The next morning, you find a letter addressed to you with no sender information. <br><br>

            You open it to find a check with the words - <br>
            <i> To: {{ firstName }} {{ lastName }} </i> <br>
                <i> For: Your cooperation </i> <br><br>

            When your eyes move to the amount section, your heart skips a beat. <br>
            The amount of money listed is life-changing for an advisor like you. <br>
            Your mind quickly turns into a blur, thinking of all the things you couldn't afford before. <br><br>
            However, you realize if they were willing to pay you this much to keep quiet, what other secrets are they hiding about the algorithm? <br>
            Perhaps you have become an accomplice to something that might be much bigger. <br><br>

            "Guess I'll take an early vacation. I hear Europe is nice this time of year."
        </h2>

        
    </body>
{% endblock %}