{% extends "base.html" %}

{% block head %}
    <title>Homepage</title>
{% endblock %}
{% block body %}

    <body>
        <h1>Hello! </h1>
        <h2>This website was created for Ethics and Technology!!</h2>
        <form action = "/" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">First Name</label>
                    <input type="firstName" class="form-control" id="firstName" placeholder="First Name" name = "firstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Last Name</label>
                    <input type="lastName" class="form-control" id="lastName" placeholder="Last Name" name = "lastName">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"> Start your ethical adventure </button>
        </form>

        
    </body>
{% endblock %}